
/* general */

body{
    font-family: 'Raleway', sans-serif;
    color: #181818;
    margin: 0;
    padding: 0;
}

#content{
    display: grid;
    grid-template-columns: repeat(9, 1fr);
    grid-auto-rows: minmax(15px,auto);
    grid-gap: 40px;
    margin: 0 auto;
    padding: 0 50px 50px 50px;
    }

a{
    color: #181818;
    text-decoration: none; 
}

h1{
    margin: 0;
    padding: 0;
    font-size: 22px;
}

h2{
    margin: 0;
    padding: 0;
    font-size: 22px;
}

h3{
    margin: 10px 0 0 0;
    padding: 0;
    font-size: 16px;
}

.fa-star{
    color:#d9d9d9;
}

.checked{
    color:#0065FC;
}

.ombrePortee{
    box-shadow: 5px 5px 10px rgba(88, 88, 88, 0.13);
}

/* position des blocks */

header{    
    grid-column: 1 / 10;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: space-between;
    align-items: bottom;
}

nav{
    grid-column: 1 / 10;
    padding: 0 5px 0 5px;
}

main{
    background-color:#f2f2f2;
    border-radius: 20px;
    padding: 25px 40px;
    grid-column: 1 / 7;
}

aside{
    background-color:#f2f2f2;
    border-radius: 20px;
    padding: 25px 40px;
    grid-column: 7 / 10;
}

section{
    background-color: rgba(98, 2, 252, 0.445);;
    grid-column: 1 / 10;
}

footer{
    background-color: #f2f2f2;
    display: flex;
    margin: 0;
    padding: 50px;
}


/* organisation du header */


#logo img{
    width: 95px;
    margin-left: 2px;
    object-fit:contain;
    padding-top:40px;
}

#menu{
    transition: 0.2s;
    width: 485px;
    height: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    font-size: 15px;
    justify-content: space-between;
    align-items: bottom;
    position: relative;
}

#menu a:hover{
    transition: 0.2s;
    font-size:18px;
    border-top: 2px solid;
}

a[id="hebergements"]{
    color: #0065FC;
    margin: 0;
    align-items: bottom;
    padding: 50px 23px 0 28px;
    border-top: 2px solid #0065FC;
}

a[id="activites"]{
    margin: 0;
    align-items: bottom;
    padding: 50px 23px 0 28px;
}

a[id="inscription"]{
    font-weight: bold;
    color: #0065FC;
    padding: 50px 23px 0 28px;
}

/* organisation du nav */

     /* titres */


#annonce p{
    margin: 5px 0 25px 0;
}

     /* zone de recherche*/

#recherche{
    width: 425px;
    height: 51px;
    display: flex;
    margin-bottom: 25px;
}

#btnGps{
    cursor: pointer;
    vertical-align: middle;
    background-color: #f2f2f2;
    border:1px solid #f2f2f2;
    font-size: 18px;
    margin: 0px;
    height: 51px;
    width: 51px;
    border-radius: 18px 0 0 18px;    
}

#btnGps:hover{
    background-color: #DEEBFF;
    border-color: #DEEBFF;
    color: #0065FC;
}

#maRecherche{
    padding-left: 15px;
    flex-grow: 100;
    font-size: 1.1em;
    border: 1px solid;
    border-color: #f2f2f2;
}

#maRecherche::placeholder{
    font-family: 'Raleway', sans-serif;
    font-weight:bold;
    border-color:#f2f2f2;
    color: #181818;
}

#btnSearch{
    cursor: pointer;
    padding: 10px;
    flex-grow: 100;
    font-size: 1.1em;
    color: white;
    border:1px solid;
    border-radius: 0 18px 18px 0;
    border-color: #0065FC;
    background-color: #0065FC;
}

#btnSearch:hover{
    background-color: #DEEBFF;
    border-color: #DEEBFF;;
}

    /* zone de filtre */

#filtres{
    display: flex;
    flex-wrap: wrap;
    margin: 0;
    padding-left: 10px;
    font-size: 12px;
    justify-content: left;
    align-items: center;
}

.choixFiltres{
    display: flex;
    height: 46px;
    padding: 0 15px 0 0;
    align-items: center;
    justify-content: left;
    margin-left: 30px;
    border: 2px solid #d9d9d9;
    border-radius: 24px;
    font-size: 18px;
}

.choixFiltres:hover{
    cursor: pointer;
    border: 2px solid #DEEBFF;
    background-color:#DEEBFF;
    color:#0065FC;
}

.choixFiltres:hover > .filtreIcon{
    background-color: #0065FC;
    color:white;
}

.filtreIcon{
    display: flex;
    font-size: 18px;
    color: #0065FC;
    background-color:#DEEBFF;
    /* border: 2px solid #DEEBFF; */
    border-radius: 24px;
    height: 46px;
    width: 46px;
    margin: 0;
    padding: 0;
    align-items: center;
    justify-content: center;
}

.labelFiltre{
    font-weight: bold;
    margin-left: 10px;
}

    /* Infos */

#info{
    display: flex;
    align-items: center;
    margin-top: 25px;
    margin-bottom: 0px;
    padding: 5px;
}

.infoLogo{
    display: flex;
    color: #0065FC;
    height: 24px;
    width: 24px;
    border: 1px solid #DEEBFF;
    border-radius: 12px;
    justify-content: center;
    align-items: center;
    margin-right: 15px;
    font-size: 15px;
}

/* organisation du main */

#galerie1{
    min-height: 480px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: space-around;
}

.card-v{
    background-color: white;
    width: 246px;
    height: 198px;
    display: flex;
    flex-flow: column;
    flex-wrap: wrap;
    border-radius: 15px;
    padding: 5px;
}

.imageCard img{
    width: 246px;
    height: 115px;
    object-fit: cover;
    border-radius: 12px 12px 0 0;
}

.infoCard-v p{
    margin: 5px 0 5px 0;
    padding: 0;
    font-size: 14px;
    font-weight: normal;
}

.infoCard-v{
    width: 215px;
    height: 75px;
    border-radius: 0 0 12px 12px;
    display: flex;
    flex-flow: column wrap;
    align-items: stretch;
    margin: 0;
    padding-left: 10px;
    padding-right: 10px;
}

.rate{
    font-size: 11px;
    margin: 0;
}

main a{
    font-size: 18px;
    font-weight: bold;
}

main a:hover{
    font-size:22px;
    transition: 0.2s;
}

#galerie1 .card-v:hover{
    background-color: #DEEBFF;
    box-shadow: 5px 5px 10px rgba(88, 88, 88, 0.692);
    transition: 0.2s;
}

/* organisation du aside */

.entete-aside{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.entete-aside i{
    font-size: x-large;
}

#galerie2{
    display: flex;
    /* flex-direction: column; */
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 40px;
}

.card-h{
    background-color:rgba(98, 2, 252, 0.445);
    width: 330px;
    height: 150px;
    border-radius: 15px;
    padding: 5px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.imageCard-h img{
    width: 130px;
    height: 100%;
    margin: 0;
    padding: 0;
    object-fit: cover;
    border-radius: 10px 0 0 10px;
}

.infoCard-h{
    width: 185px;
    height: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}



.infoCard-h p{
    margin: 0;
    padding: 0;
    font-size: 14px;
    font-weight: normal;
}





/* organisation section */

#activities{
    padding: 0;
    margin-top: 25px;
}

#galerie3{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-auto-rows: minmax(15px,auto);
    grid-gap: 40px;
    margin-top: 20px;
    margin-bottom: 40px;
}

.card{
    width: 300px;
    height: 450px;
    border-radius: 20px;
}

.doubleCard{
    width: 300px;
    height: 450px;
    border-radius: 20px;
}

.card img{
    width:100%;
    height: 390px;
    object-fit: cover;
    border-radius: 20px 20px 0 0;
}

.card1{
    width: 300px;
    height: 240px;
    border-radius: 20px;
}

.card2{
    width: 300px;
    height: 165px;
    border-radius: 20px;
    margin-top: 40px;
}

.card1 img{
    width: 100%;
    height: 180px;
    object-fit: cover;
    border-radius: 20px 20px 0 0;
}

.card2 img{
    width: 100%;
    height: 110px;
    object-fit: cover;
    border-radius: 20px 20px 0 0;
}

.card3{
    width: 300px;
    height: 195px;
    border-radius: 20px;

}

.card4{
    width: 300px;
    height: 210px;
    border-radius: 20px;
    margin-top: 40px;
}

.card3 img{
    width: 100%;
    height: 140px;
    object-fit: cover;
    border-radius: 20px 20px 0 0;
}

.card4 img{
    width: 100%;
    height: 152px;
    object-fit: cover;
    border-radius: 20px 20px 0 0;
}



/* organisation footer */



/*
.card{
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    border-radius: 15px;
}

img{
    width: 100%;
    height:75%;
    border-radius: 15px 15px 0 0;
    object-fit: none;
    overflow: hidden;
}

.card:hover{
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.container{
    padding: 2px 16px;
}


*/

