/* General */

*{
    margin: 0;
    padding: 0;
    font-family: 'Raleway', sans-serif;
    font-size: 16px;
    text-decoration: none;
    list-style-type: none;
    box-sizing: border-box;
}

:root{
    --padding-general: 3.13rem;
    --Bleu-dur: #0065FC;
    --Bleu-clair: #DEEBFF;
    --Gris-fond: #F2F2F2;
    --Gris-etoile: #D9D9D9;
    --Black: #000000;
    --Ombre-light: #00000033;
    --Ombre-strong: #00000099;
    --Invisible: #00000000;
    --White: #FFFFFF;
}

h1, h2{
    font-size: 1.38rem;
    font-weight: 700;
}

h3{
    font-size: 0.94rem;
}

a{
    color: var(--Black);
}

strong{
    font-size: inherit;
}

.rate{
    margin-top: 0.38rem;
    display: flex;
    justify-content: space-between;
    width: 4.5rem;
}

.fa-star{
    color: var(--Gris-etoile);
    font-size: 0.73rem;
}

.checked{
    color: var(--Bleu-dur);
    font-size: 0.72rem;
}

.ombrePortee{
    box-shadow: 0 0 0.63rem var(--Ombre-light);
}



#content{
    max-width: 90rem;
    margin: 0 auto;
    padding: 0 var(--padding-general);
    display: flex;
    flex-flow: column wrap;
}



header{
    display: flex;
    flex-flow: column wrap;
    justify-content: space-between;
}

main{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
}

footer{
    padding: var(--padding-general);
    background-color: var(--Gris-fond);
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}



    /* Mise en forme du Header */

/* Mise en forme du Nav */

#chapeau{
    display: grid;
    grid-template-columns: 6.06rem 1fr 7.63rem;
}

#logo img{
    width: 5.94rem;
    padding-top: 2.65rem;
    object-fit: contain;
}

nav{
    font-size: 0.94rem;
    display: flex;
    justify-content: flex-end;
}

nav a{
    padding: 2.75rem 1.44rem 0 1.75rem;
    border-top: 0.13rem solid var(--Invisible);
}

a[id="hebergements"]{
    color: var(--Bleu-dur);
    border-top: 0.13rem solid var(--Bleu-dur);
}

nav a:hover{
    color: var(--Bleu-dur);
    border-top: 0.13rem solid var(--Bleu-dur);
    text-decoration: underline;
}

#inscription{
    padding: 2.88rem 1.44rem 0 1.75rem;
} 

#inscription a{
    font-weight: 600;
    color: var(--Bleu-dur);
}

#inscription a:hover{
    text-decoration: underline;
}

/* Mise en forme de la banière */

#annonce{
    margin-top: 2.1rem;
}

#annonce p{
    margin: 0.50rem 0 1.13rem 0;
}

#recherche{
    width: 26.56rem;
    height: 3.19rem;
    display: flex;
    border: 0.06rem solid var(--Gris-fond);
    border-radius: 1.13rem;
}

.fa-map-marker-alt{
    font-size: 1.13rem;
}

#btnGps{
    cursor: pointer;
    background-color: var(--Gris-fond);
    border: 0.06rem solid var(--Gris-fond);
    width: 3.13rem;
    height: 3.13rem;
    border-radius: 1.13rem 0 0 1.13rem;
}

#btnGps:hover{
    background-color: var(--Bleu-clair);
    border-color: var(--Bleu-clair);
    color: var(--Bleu-dur);
}

#maRecherche{
    padding-left: 0.94rem;
    flex-grow: 100;
    font-size: 1.1rem;
    border: 0.06rem solid var(--Gris-fond);
}

#maRecherche::placeholder{
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    color: var(--Black);
}

#btnSearch1{
    cursor: pointer;
    padding: 0.63rem;
    font-size: 1.1rem;
    font-weight: 600;
    color: var(--White);
    background-color: var(--Bleu-dur);
    border: 0.06rem solid var(--Bleu-dur);
    border-radius: 0 1.13rem 1.13rem 0;
}

#btnSearch1:hover{
    color: var(--Bleu-dur);
    background-color: var(--Bleu-clair);
    border-color: var(--Bleu-clair);
}

#btnSearch2{
    display: none;
}

#filtres{
    margin-top: 1.95rem;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
}

#filtres h3{
    font-size: 1.13rem;
    margin-right: 1.88rem;
}

.selectionFiltre{
    display: flex;
    flex-flow: row wrap;
}

.choixFiltres{
    height: 3.15rem;
    font-weight: bold;
    margin-right: 1.88rem;
    border: 0.13rem solid var(--Gris-etoile);
    border-radius: 1.5rem;
    padding-right: 0.94rem;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.choixFiltres:hover{
    cursor: pointer;
    border-color: var(--Bleu-clair);
    background-color: var(--Bleu-clair);
    color: var(--Bleu-dur)
}

.filtreIcon{
    position: relative;
    left: -0.13rem;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 3.15rem;
    height: 3.15rem;
    color: var(--Bleu-dur);
    background-color: var(--Bleu-clair);
    border-radius: 1.5rem;
}

.filtreIcon i{
    font-size: 1.19rem;
}

.choixFiltres:hover > .filtreIcon{
    background-color: var(--Bleu-dur);
    color: var(--White);
}

.labelFiltre{
    margin-left: 0.63rem;
    font-size: 1.13rem;
    font-weight: 600;
}

#info{
    margin-top: 2.21rem;
    margin-bottom: 2.3rem;
    display: flex;
    align-items: center;
}

.infoLogo{
    color: var(--Bleu-dur);
    width: 1.44rem;
    height: 1.44rem;
    margin-right: 0.94rem;
    border: 0.06rem solid var(--Bleu-clair);
    border-radius: 0.75rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.fa-info{
    font-size: 0.75rem;
}

    /* Mise en forme du Main */

/* Mise en forme section accomodations */

#accomodations{
    width: 66%;
    border-radius: 1.25rem;
    padding: 2.6rem 2.5rem 2.81rem 2.5rem;
    background-color: var(--Gris-fond);
}

#galerie1{
    margin-top: 1.44rem;
    min-height: 26.56rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: space-between;
}

.card-v{
    width: 14.75rem;
    height: 12.44rem;
    background-color: var(--White);
    border-radius: 0.94rem;
    padding: 0.31rem;
    display: flex;
    flex-flow: column wrap;
}

.card-v a{
    width: 14.08rem;
    height: 11.82rem;
}

.card-v:hover{
    box-shadow: 0 0 0.63rem var(--Ombre-strong);
}

.imageCard{
    width: 100%;
    height: 60%;
}

.imageCard img{
    width: 100%;
    height: 100%;
    border-radius: 0.75rem 0.75rem 0 0;
    object-fit: cover;
}

.infoCard-v{
    width: 100%;
    height: 36%;
    padding-left: 0.63rem;
    margin-top: 0.6rem;
    display: flex;
    flex-flow: column wrap;
}

.infoCard-v p{
    margin: 0.35rem 0 0.2rem 0;
    font-size: 0.81rem;
}

.more{
    margin-top: 2.50rem;
    font-size: 1.13rem;
    font-weight: 600;
}

.more a:hover{
    color: var(--Bleu-dur);
    text-decoration: underline;
}

/* Mise en forme aside */

aside{
    width: 31%;
    min-width: 22.84rem;
    border-radius: 1.25rem;
    padding: 2.6rem 2.5rem 1.6rem 2.5rem;
    background-color: var(--Gris-fond);
}

.entete-aside{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.fa-chart-line{
    font-size: 1.25rem;
}

#galerie2{
    margin-top: 1.44rem;
    min-height: 31.06rem;
    width: 100%;
    display: flex;
    flex-flow: column wrap;
    justify-content: space-between;
}

.card-h{
    width: 100%;
    height: 9rem;
    background-color: var(--White);
    border-radius: 0.94rem;
    padding: 0.31rem;
}

.card-h:hover{
    box-shadow: 0 0 0.63rem var(--Ombre-strong); 
}

.card-h a{
    width: 100%;
    height: 100%;
    display: flex;
    flex-flow: row wrap;
}

.imageCard-h{
    width: 38%;
    height: 100%;
}

.imageCard-h img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 0.63rem 0 0 0.63rem;
}

.infoCard-h{
    padding: 0.8rem 1.25rem 0 1.25rem;
    width: 62%;
    height: 100%;
    display: flex;
    flex-flow: column wrap;
}

.infoCard-h p{
    margin-top: 0.50rem;
    margin-bottom: 2.3rem; 
    font-size: 0.81rem;
}

/* Mise en forme section activities */

#activities{
    width: 100%;
    padding-top: 3.75rem;
    min-height: 33.13rem;
    display: flex;
    flex-flow: column wrap;
}

#galerie3{
    width: 100%;
    height: 27.6rem;
    margin-top: 1.44rem;
    margin-bottom: 3.75rem;
    display: flex;
    flex-flow: column wrap;
    justify-content: space-between;
    align-content: space-between;
}

.card{
    width: 18.75rem;
    height: 27.6rem;
    border-radius: 1.25rem;
}

.card:hover{
    box-shadow: 0 0 0.63rem var(--Ombre-strong);
}

#activities p{
    width: 100%;
    height: 3.13rem;
    padding-top: 1rem;
    padding-left: 1.25rem;
    font-weight: bold;
    font-size: 1rem;
}

.card img{
    width: 100%;
    height: 24.1rem;
    object-fit: cover;
    border-radius: 1.25rem 1.25rem 0 0;
}

.card1{
    width: 18.75rem;
    height: 14.75rem;
    border-radius: 1.25rem;
}

.card1:hover{
    box-shadow: 0 0 0.63rem var(--Ombre-strong);
}

.card1 img{
    width: 100%;
    height: 11.25rem;
    object-fit: cover;
    border-radius: 1.25rem 1.25rem 0 0;
}

.card2{
    width: 18.75rem;
    height: 10.30rem;
    border-radius: 1.25rem;
}

.card2:hover{
    box-shadow: 0 0 0.63rem var(--Ombre-strong);
}

.card2 img{
    width: 100%;
    height: 6.80rem;
    object-fit: cover;
    border-radius: 1.25rem 1.25rem 0 0;
}

.card3{
    width: 18.75rem;
    height: 12.19rem;
    border-radius: 1.25rem;
}

.card3:hover{
    box-shadow: 0 0 0.63rem var(--Ombre-strong);
}

.card3 img{
    width: 100%;
    height: 8.69rem;
    object-fit: cover;
    border-radius: 1.25rem 1.25rem 0 0;
}

.card4{
    width: 18.75rem;
    height: 13.13rem;
    border-radius: 1.25rem;
}

.card4:hover{
    box-shadow: 0 0 0.63rem var(--Ombre-strong);
}

.card4 img{
    width: 100%;
    height: 9.63rem;
    object-fit: cover;
    border-radius: 1.25rem 1.25rem 0 0;
}

    /* Mise en Forme du Footer */

footer h3{
    font-size: 1.1rem;
    font-weight: 600;
    margin-bottom: 0.88rem;
}

li{
    margin-bottom: 0.75rem;
    font-weight: 400; 
}

footer a:hover{
    color: var(--Bleu-dur);
    text-decoration: underline;
}

@media screen and (min-width: 481px) and (max-width: 1319px){

#content{
    padding: 0 1.25rem;
}

    /* Mise en forme du Header */

/* Logo & Nav */

#chapeau{
    grid-template-columns: 6.06rem 1fr 4.40rem;
    border-bottom: 0.13rem solid var(--Gris-etoile);
}

#logo img{
    padding-top: 0.94rem;
}

#menu{
    justify-content: center;
    align-items: center;
    column-gap: 0.94rem;
}

nav a{
    padding: 0.94rem 0 0 0;
}

a[id="hebergements"]{
    border-top: 0;
}

nav a:hover{
    border-top: 0;
}

#inscription{
    padding: 0.94rem 0 0 0;
    justify-self: flex-end;
    align-self: center;
}

/* Banniere */

#banniere{
    display: flex;
    flex-flow: column wrap;
    align-items: center;
}

#annonce{
    margin-top: 2.82rem;
    display: flex;
    flex-flow: column wrap;
    align-items: center;
}

#annonce h1{
    text-align: center;
}

#annonce p{
    margin-top: 0.88rem;
}

#recherche{
    margin: 2.82rem 0;
}

#filtres{
    margin-top: 0;
    flex-flow: column wrap;
    align-items: flex-start;
}

#filtres h3{
    margin-left: 0.38rem;
    margin-bottom: 0.38rem;
}

.choixFiltres{
    height: 2.63rem;
    margin-right: 0.38rem;
    margin-bottom: 0.38rem;
}

.filtreIcon{
    height: 2.63rem;
    width: 2.63rem;
}

.filtreIcon i{
    font-size: initial;
}

.labelFiltre{
    font-size: 1rem;
}

#info{
    margin-top: 0.76rem;
    margin-bottom: 0.38rem;
    align-self: flex-start;
}


    /* Mise en Forme du Main */

main{
    flex-flow: column wrap;
}


/* Section Hébergements */

#accomodations{
    order: 1;
    width: 100%;
    margin-top: 0.76rem;
    padding: 1.52rem;
}

#galerie1{
    width: 100%;
    margin: 1.14rem auto;

}

.card-v{
    width: 30%;
    min-width: 16rem;
    margin: 0.38rem auto;
}

.card-v a{
    width: 100%;
}

.more{
    margin-top: 1.52rem;
}

/* Aside */

aside{
    width: 100%;
    padding: 1.52rem;
}

.entete-aside{
    justify-content: initial;
}

.fa-chart-line{
    margin-left: 1.14rem;
    margin-top: 0.3rem;
}

#galerie2{
    min-height: 8.76rem;
    margin-top: 1.14rem;
    flex-flow: row wrap;
    align-items: center;
}

.card-h{
    width: 30%;
    min-width: 16rem;
    height: 7.6rem;
    margin: 0.38rem auto;
}

.infoCard-h{
    padding: 0.38rem 0 0 0.76rem;
}

.infoCard-h p{
    margin-bottom: 0.76rem;
}

/* Section Activités */

#activities{
    order: 1;
    width: 100%;
    margin-top: 0.76rem;
    padding: 1.52rem;
}

#galerie3{
    height: initial;
    min-height: 23.76rem;
    margin-top: 1.14rem;
    margin-bottom: 1.90rem;
    flex-flow: row wrap;
    align-items: center;
}

.card, .card1, .card2, .card3, .card4{
    width: 30%;
    min-width: 16rem;
    height: 11.88rem;
    margin: 0.38rem auto;
}

.card img, .card1 img, .card2 img, .card3 img, .card4 img{
    height: 8.38rem;
}

    /* Mise en forme du Footer */

footer{
    width: 100%;
    display: flex;
    flex-flow: row wrap;
}

#a_propos, #nos_hebergements, #assistance{
    width: 30%;
    min-width: 16rem;
    margin: 0.38rem 0;
}

}


@media screen and (max-width: 480px){

#content{
    min-width: 22.44rem;
    padding: 1.75rem 0;
}


    /* Mise en Forme du Header */

/* Logo & Nav */


#chapeau{
    grid-template-columns: repeat(2, 1fr);
}

#logo{
    margin-left: 1.25rem;
    align-self: end;
}

#logo img{
    padding: 0;
}

#inscription{
    padding: 0.94rem 1.25rem 0 0;
    justify-self: right;
}

#inscription a{
    font-weight: 700;
}

nav{
    grid-column: 1 / 3;
    grid-row: 2;
    display: grid;
    grid-template-columns: repeat(2,1fr);
}

nav a{
    border-bottom: 0.19rem solid var(--Gris-fond);
    padding: 1.6rem 0 0.81rem 0;
    text-align: center;
}

a[id="hebergements"]{
    height: auto;
    border-top: none;
    border-color: var(--Bleu-dur);
}

a[id="activites"]{
    height: auto;
    border-top: none;
}

nav a:hover{
    border-top: none;
    border-color: var(--Bleu-dur);
    text-decoration: underline;
    color: var(--Bleu-dur);
}

/* Banniere */

#banniere{
    max-width: 24.25rem;
    margin: 0 auto;
    padding: 0 1.25rem;
}
 #annonce p{
     margin-top: 0.75rem;
     margin-bottom: 2.19rem;
 }

#recherche{
    width: 20.88rem;
}

#maRecherche{
    border: none;
}

#btnSearch1{
    display: none;
}

#btnSearch2{
    display: block;
    cursor: pointer;
    width: 3.13rem;
    height: 3.13rem;
    color: var(--White);
    background-color: var(--Bleu-dur);
    border-radius: 1.13rem;
    border: 0.06rem solid var(--Bleu-clair);
}

#btnSearch2:hover{
    color: var(--Bleu-dur);
    background-color: var(--Bleu-clair);

}

#filtres h3{
    margin-left: 0.25rem;
}

.fa-search{
    font-size: 1.13rem;
}

.labelFiltre{
    font-size: 1rem;
}

.selectionFiltre{
    margin-top: 0.94rem;
    min-height: 11.06rem;
    justify-content: space-between;
    align-content: space-between;
}

.choixFiltres{
    margin: 0;
}

#info{
    margin-top: 1.94rem;
}

#info p{
    margin-top: 0.25rem;
}

.infoLogo{
    width: 1.65rem;
    height: 1.65rem;
    margin-right: 0.69rem;
    flex-shrink: 0;
    align-self: flex-start;
}

.fa-info{
    font-size: 0.75rem;
}

    /* Mise en Forme du Main */

/* Section Hébergements */

#accomodations{
    order: 1;
    width: 100%;
    padding: 2rem 1.25rem 0 1.25rem;
    background-color: var(--White);
}

#accomodations h2{
    width: 20.91rem;
    margin: 0 auto;
    padding-top: 0.31rem;
}

#galerie1{
    width: 20.91rem;
    padding-top: 1.44rem;
    min-height: 79.88rem;
    margin:0 auto;
}

.card-v{
    width: 100%;
}

.card-v a{
    width: 100%;
}

.more{
    width: 20.91rem;
    margin: 0 auto;
    padding-top: 2.13rem;
}

.more a{
    font-size: 1.15rem;
}

/* Aside */

aside{
    width:100%;
    border-radius: 0;
    padding: 0 1.25rem 0 1.25rem;
    
}

.entete-aside{
    max-width: 20.91rem;
    padding-top: 2.6rem;
    padding-bottom: 1.56rem;
    margin: 0 auto;
}

#galerie2{
    width: 20.91rem;
    padding-bottom: 2.25rem;
    margin: 0 auto;
}

/* Section Activités */

#activities{
    order: 2;
    padding: 3.75rem 1.25rem 1.38rem 1.25rem;
}

#activities h2{
    width: 20.91rem;
    margin: 0 auto;
    padding-bottom: 1.38rem;
}

#galerie3{
    width: 20.91rem;
    height: 78.75rem;
    margin: 0 auto;
}

.card, .card1, .card2, .card3, .card4{
    width: 100%;
    height: 11.88rem;
}

.card img, .card1 img, .card2 img, .card3 img, .card4 img{
    height: 8.38rem;
}


    /* Mise en Forme du Footer */

footer{
    padding: 2.75rem 1.25rem 1.1rem 1.25rem;
    display: flex;
    flex-flow: column wrap;
}

footer h3{
    margin-bottom: 1.44rem;
}

#a_propos{
    padding-left: 0.38rem;
}

#nos_hebergements, #assistance{
    margin-top: 1.88rem;
    margin-left: 0.69rem;
}

}